* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, monospace;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../img/coffee.jpg') no-repeat center center fixed;
    background-size: cover;
    line-height: 1.6;
}

header {
    width: 39%;
    background-color: #333;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

p, li {
    margin-bottom: 30px;
}

button {
    margin-bottom: 10px;
    padding: 10px 20px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #0073ff;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

label, input {
    display: block;
    margin-bottom: 10px;
    
}

input[type=text], input[type=password]{
    max-width: fit-content;
    margin-inline: auto;
}

.content-container {
    background-color: rgba(255, 255, 255, 1);
    width: 80vw;
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    text-align: center; 
}

.slider-container{
    max-width: fit-content;
    margin-inline: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

table td {
    background-color: #f9f9f9;
}

table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

table tr:hover td {
    background-color: #e0e0e0;
}

.task-container{
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    text-align: center; 
}

.terminal-container{
    background-color: rgba(255, 255, 255, 1);
    width: 80vw;
    max-width: 700px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    text-align: center; 
}

.terminal {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    overflow-y: scroll;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.terminal .log-entry {
    margin-bottom: 10px;
    font-family:monospace;
}